body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Marco-gr-fico-b-sico {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Marco-de-texto-b-sico {
	border-style:solid;
}
p.P-rrafo-b-sico {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.ParaOverride-1 {
	text-align:center;
}
p.ParaOverride-2 {
	text-align:justify;
	text-align-last:left;
}
span.CharOverride-1 {
	font-family:"Berlin Sans FB", sans-serif;
	font-size:17px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	font-size:18px;
}
span.CharOverride-3 {
	font-size:20px;
}
span.CharOverride-4 {
	font-size:24px;
}
span.CharOverride-5 {
	font-size:21px;
}
span.CharOverride-6 {
	font-family:"Berlin Sans FB Demi", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-7 {
	font-family:"Berlin Sans FB", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-8 {
	font-family:"Lucida Sans Unicode", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	font-family:Bahnschrift, sans-serif;
	font-size:11px;
	font-variation-settings:"wdth" 100, "wght" 400;
}
span.CharOverride-10 {
	font-family:"Berlin Sans FB", sans-serif;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	display:inline-block;
	height:205px;
	width:473px;
}
#_idContainer016 {
	display:inline-block;
	height:216px;
	width:487px;
}
#_idContainer017 {
	display:inline-block;
	height:258px;
	width:478px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:6px;
}
div._idGenObjectStyleOverride-2 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
